<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Calculator</title>
  // 1. write Typescript code in "app.component.ts" to work with calculator
</head>
<body>
<div class="maindisplay">
  <div class="subdisplay">{{ subText }}</div>
  {{ mainText }}
</div>
<table align="center">

  <tr>

    <td><button (click)="pressKey('7')" class="btn btn-light">7</button></td>
    <td><button (click)="pressKey('8')" class="btn btn-light">8</button></td>
    <td><button (click)="pressKey('9')" class="btn btn-light">9</button></td>
    <td><button (click)="pressKey('+')" class="btn btn-dark">+</button></td>
  </tr>
  <br>
  <tr>
    <td><button (click)="pressKey('6')" class="btn btn-light">6</button></td>
    <td><button (click)="pressKey('5')" class="btn btn-light">5</button></td>
    <td><button (click)="pressKey('4')" class="btn btn-light">4</button></td>
    <td><button (click)="pressKey('-')" class="btn btn-dark">-</button></td>
  </tr>
  <br>
  <tr>
    <td><button (click)="pressKey('3')" class="btn btn-light">3</button></td>
    <td><button (click)="pressKey('2')" class="btn btn-light">2</button></td>
    <td><button (click)="pressKey('1')" class="btn btn-light">1</button></td>
    <td><button (click)="pressKey('*')" class="btn btn-dark">*</button></td>
  </tr>
  <br>
  <tr>
    <td><button (click)="pressKey('0')" class="btn btn-light">0</button></td>
    <td><button (click)="pressKey('.')" class="btn btn-light">.</button></td>
    <td><button (click)="getAnswer()" class="btn btn-success">=</button></td>
    <td><button (click)="pressKey('/')" class="btn btn-dark">/</button></td>
  </tr>
  <br>
  <tr>
    <td><button (click)="allClear()" class="btn btn-danger">AC</button></td>
  </tr>
</table>

</body>
</html>
